---
title: "Publications"
layout: default
excerpt: "RT2 Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
    {% assign years = "2020,2016,2015" | split: ',' %}
    {% for year in years %}
        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#accordion"
                    href="#collapse{{forloop.index}}"
                    style="color: inherit;">
                    <b>{{year}}</b>
        </div>
        
            
                <div id="collapse{{forloop.index}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                    {% for publi in site.data.publications[year] %}
                    <li>
                    <!-- authors -->
                    {% assign authors = "" | split:"/" %}
                    {% for author in publi.author %}
                        {% assign authors = authors | push: author.family %}
                    {% endfor %}
                    {{ authors | array_to_sentence_string }},

                    <!-- title with link -->
                    "{{ publi.title }}",

                    <!-- container -->
                    <b>{{ publi.container-title }}</b>

                    <!-- issued date -->
                    ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}).

                    <!-- DOI -->
                    {% if publi.DOI %}
                        <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
                    {% endif %}
                    </a>
                    
                    <!-- PDF -->
                    {% if publi.PDFurl %}
                        <a href="https://www.watsonlaserlab.com/assets/{{publi.PDFurl}}">PDF</a>
                    {% endif %}
                    </a>
                    <p>{{ publi.abstract }}</p>

                    <!--<a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                    role="button" target="blank">Link</a>
                    --> </li>
                    {% endfor %}
                    </ul>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
